.dash-board-title {
  grid-area: 1 / 1 / 2 / 2;
}
.readers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1, 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  grid-area: 2 / 1 / 3 / 5;
}

.pi {
  display: grid;
  grid-template-columns: 1, 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 32px;
  grid-row-gap: 32px;

  grid-area: 3 / 3 / 7 / 5;
}

.module {
  display: flex;
  padding: 1rem 2rem;
  flex-direction: column;
  height: max-content;
  flex-grow: 1;

  border-radius: var(--border-radius);
  border: 1px solid var(--Stroke-Base);
  background: var(--Background-Second);
}

.module section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 160px;
  color: white;
}

.module section:first-child h3 {
  font-weight: 500;
  font-size: medium;
}

.module section p {
  margin: 0;
}

.module section p:first-child {
  margin-bottom: 8px;
}

.nfc:hover {
  cursor: pointer;
}
.pi-zero {
  height: auto;
}
.log-console {
  display: flex;
  flex: calc(50% - 4rem);
  padding: 2rem;
  grid-area: 3 / 1 / 7 / 3;

  border-radius: var(--border-radius);
  border: 1px solid var(--Stroke-Base);
  background: var(--Background-Second);
}
