.readers {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.nfc {
  display: inline-flex;
  padding: 2rem;
  flex-direction: column;
  gap: 38px;
  height: fit-content;
  transition: height 300ms;

  border-radius: var(--border-radius);
  border: 1px solid var(--Stroke-Base);
  background: var(--Background-Second);
}

.nfc:hover {
  cursor: pointer;
}

.nfc section:first-child {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 160px;
  color: white;
}

.nfc section p {
  margin: 0;
}

.nfc section p:first-child {
  margin-bottom: 8px;
}

.pi-zero {
}
