@import "./base.css";
@import "./nav.css";
@import "./dashbaord.css";

#app {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  font-weight: normal;
}

.viewport {
  width: 100%;
  margin: 2rem;
}
